{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "55d66bcfdc1f1a8f6eee219713435dfa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://console.automox.com/api/users/?limit=1&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1086,
            "text": "[{\"id\":56628,\"uuid\":\"b3afbe63-da26-4d40-94b4-f843e682799c\",\"firstname\":\"Stefan\",\"lastname\":\"Virag\",\"email\":\"stefan.virag@contractor.jupiterone.com\",\"features\":{\"mo\":false},\"prefs\":[{\"user_id\":56628,\"pref_name\":\"notify.weeklydigest\",\"value\":\"true\"}],\"orgs\":[{\"id\":102270,\"zone_id\":\"953d0157-7940-47d4-9761-3daf94c325ec\",\"name\":\"j1-stefan\",\"trial_end_time\":\"2022-05-06T00:00:00+00:00\",\"trial_expired\":false,\"create_time\":\"2022-04-22T01:56:20+0000\",\"access_key\":\"11c47244-1adc-494d-9eaf-6d03a02b7ca4\",\"metadata\":{}}],\"tags\":[],\"metadata\":{},\"saml_enabled\":false,\"sso_enabled\":false,\"rbac_roles\":[{\"id\":1,\"name\":\"Zone Administrator\",\"description\":\"Provides full administrative rights to a specific zone.\",\"organization_id\":102270}],\"server_groups\":[],\"account_id\":\"0f225c46-b6d3-43b8-b924-310add97641a\",\"account_name\":\"j1-stefan\",\"account_rbac_role\":\"global-admin\",\"account_completed_qsg\":false}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1651424620"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 906,
      },
      {
        "_id": "4c1983e2ac1e77938eb33955b9c5da5d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "page",
              "value": "1"
            }
    [...]
