{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "3c2fe654dfc5556ee394e6953ab40f53",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://console.automox.com/api/users/?limit=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1396,
            "text": "[{\"id\":56628,\"uuid\":\"b3afbe63-da26-4d40-94b4-f843e682799c\",\"firstname\":\"Stefan\",\"lastname\":\"Virag\",\"email\":\"stefan.virag@contractor.jupiterone.com\",\"features\":{\"mo\":false},\"prefs\":[{\"user_id\":56628,\"pref_name\":\"notify.weeklydigest\",\"value\":\"true\"}],\"orgs\":[{\"id\":102270,\"zone_id\":\"953d0157-7940-47d4-9761-3daf94c325ec\",\"name\":\"j1-stefan\",\"trial_end_time\":\"2022-05-06T00:00:00+00:00\",\"trial_expired\":true,\"create_time\":\"2022-04-22T01:56:20+0000\",\"sub_plan\":\"FULL\",\"access_key\":\"11c47244-1adc-494d-9eaf-6d03a02b7ca4\",\"metadata\":{}}],\"tags\":[],\"metadata\":{},\"saml_enabled\":false,\"sso_enabled\":false,\"rbac_roles\":[{\"id\":1,\"name\":\"Zone Administrator\",\"description\":\"Provides full administrative rights to a specific zone.\",\"organization_id\":102270}],\"server_groups\":[],\"account_id\":\"0f225c46-b6d3-43b8-b924-310add97641a\",\"account_name\":\"j1-stefan\",\"account_rbac_role\":\"global-admin\",\"account_completed_qsg\":true,\"account_created_at\":\"2022-04-22T01:56:20+0000\"},{\"id\":56651,\"uuid\":\"79c73938-786b-4ffa-a787-2d40a594548a\",\"firstname\":\"Korsie\",\"lastname\":\"Ballesteros\",\"email\":\"korsie.ballesteros@gmail.com\",\"features\":{\"mo\":false},\"prefs\":[],\"orgs\":[{\"id\":102270,\"zone_id\":\"953d0157-7940-47d4-9761-3daf94c325ec\",\"name\":\"j1-stefan\",\"trial_end_time\":\"2022-05-06T00:00:00+00:00\",\"trial_expired\":true,\"create_time\":\"2022-04-22T01:56:20+0000\",\"sub_plan\":\"FULL\",\"access_key\":\"11c47244-1adc-494d-9eaf-6d03a02b7ca4\"}],\"tags\":[],\"metadata\":{},\"saml_enabled\":false,\"sso_enabled\":false,\"rbac_roles\":[{\"id\":2,\"name\":\"Read Only\",\"description\":\"Provides full read rights to a specific zone.\",\"organization_id\":102270}],\"server_groups\":[],\"account_id\":\"0f225c46-b6d3-43b8-b924-310add97641a\",\"account_name\":\"j1-stefan\",\"account_rbac_role\":\"no-global-access\",\"account_completed_qsg\":true,\"account_created_at\":\"2022-04-22T01:56:20+0000\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1652212486"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 916,
      },
      {
        "_id": "3c5ba791858195d014c8f97241b48995",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://console.automox.com/api/users/?limit=500&page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1652212487"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 739,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
