{
  "log": {
    "_recordingName": "fetch-device-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "22ee544e0a98a25fc214bf3506c05da5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://console.automox.com/api/servergroups/?limit=1&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 354,
            "text": "[{\"id\":130910,\"organization_id\":102270,\"name\":\"\",\"refresh_interval\":1440,\"parent_server_group_id\":130910,\"ui_color\":null,\"notes\":\"\",\"enable_os_auto_update\":null,\"server_count\":1,\"wsus_config\":null,\"policies\":[211124,211125]}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1651424619"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 656,
      },
      {
        "_id": "67a38331f80ac13470a94fa51674ad67",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://console.automox.com/api/servergroups/?limit=1&page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 512,
            "text": "[{\"id\":131459,\"organization_id\":102270,\"name\":\"automox_group1\",\"refresh_interval\":1440,\"parent_server_group_id\":130910,\"ui_color\":\"#059F1D\",\"notes\":\"\",\"enable_os_auto_update\":null,\"server_count\":1,\"wsus_config\":{\"id\":61415,\"server_group_id\":131459,\"is_managed\":null,\"server_url\":null,\"created_at\":\"2022-04-29T01:30:09+0000\",\"updated_at\":\"2022-04-29T01:30:09+0000\"},\"policies\":[]}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1651424[...]
