{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a471210a10ae28ebd49aed34a827e1a5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://console.automox.com/api/servers/?limit=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5374,
            "text": "[{\"id\":1676461,\"agent_version\":\"1.0-38\",\"commands\":[],\"compatibility_checks\":{\"missing_wmi_integrity_check\":false,\"missing_powershell\":false,\"low_diskspace\":false},\"compliant\":true,\"connected\":false,\"create_time\":\"2022-04-29T05:57:43+0000\",\"custom_name\":\"\",\"deleted\":false,\"detail\":{\"NICS\":[],\"LAST_USER_LOGON\":{},\"DISKS\":[{\"SIZE\":\"1000202273280\",\"TYPE\":\"ST1000LM014-1EJ164\"},{\"TYPE\":\"Samsung SSD 850 EVO M.2 500GB\",\"SIZE\":\"500105249280\"}],\"CPU\":\"Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz\",\"MODEL\":\"Inspiron 7559\",\"VOLUME\":[{\"FREE\":\"42194432000\",\"IS_SYSTEM_DISK\":\"True\",\"VOLUME\":\"C:\",\"FSTYPE\":\"NTFS\",\"LABEL\":\"OS\",\"AVAIL\":\"498416451584\"},{\"AVAIL\":\"357803487232\",\"FREE\":\"105796612096\",\"IS_SYSTEM_DISK\":\"False\",\"VOLUME\":\"D:\",\"FSTYPE\":\"NTFS\",\"LABEL\":\"HDD\"}],\"SECURE_TOKEN_ACCOUNT\":null,\"SERIAL\":\"6414KD2\",\"IPS\":[],\"WMI_INTEGRITY_CHECK\":\"True\",\"UPDATE_SOURCE_CHECK\":{\"CONNECTED\":\"True\",\"ERROR\":\"Succeeded\"},\"WSUS_CONFIG\":{\"WSUS_MANAGED\":\"0\",\"WSUS_SERVER\":\"\",\"WSUS_REACHABLE\":\"1\"},\"DISTINGUISHED_NAME\":\"\",\"SERVICETAG\":\"\",\"PS_VERSION\":\"5.1.19041.1320\",\"VENDOR\":\"Dell Inc.\",\"RAM\":\"8589934592\",\"AUTO_UPDATE_OPTIONS\":{\"OPTIONS\":\"off\",\"ENABLED\":\"1\"},\"FQDNS\":{},\"VERSION\":\"0H0CC0\"},\"display_name\":\"DESKTOP-VQE5236\",\"exception\":false,\"instance_id\":\"\",\"ip_addrs\":[],\"ip_addrs_private\":[],\"is_compatible\":true,\"is_delayed_by_notification\":false,\"is_delayed_by_user\":false,\"last_disconnect_time\":\"2022-04-29T14:04:24+0000\",\"last_logged_in_user\":\"DESKTOP-VQE5236\\\\korsi\",\"last_process_time\":\"2022-04-29T14:03:58+0000\",\"last_refresh_time\":\"2022-04-29T06:06:13+0000\",\"last_scan_failed\":false,\"last_update_time\":null,\"name\":\"DESKTOP-VQE5236\",\"needs_attention\":false,\"needs_reboot\":false,\"next_patch_time\":null,\"notification_count\":0,\"organization_id\":102270,\"organizational_unit\":\"\",\"os_family\":\"Windows\",\"os_name\":\"10 Home Single Language\",\"os_version\":\"10.0.19043\",\"os_version_id\":4737,\"patch_deferral_count\":0,\"patches\":21,\"pending\":false,\"pending_patches\":0,\"policy_status\":[{\"id\":310411522,\"organization_id\":102270,\"policy_id\":211124,\"server_id\":1676461,\"policy_name\":\"Apply All Patches\",\"policy_type_name\":\"patch\",\"status\":1,\"result\":\"{}\",\"create_time\":\"2022-04-29T06:06:13+0000\",\"will_reboot\":false,\"pending_count\":0,\"next_remediation\":null},{\"id\":310411523,\"organization_id\":102270,\"policy_id\":211125,\"server_id\":1676461,\"policy_name\":\"Apply Critical Patches\",\"policy_type_name\":\"patch\",\"status\":1,\"result\":\"{}\",\"create_time\":\"2022-04-29T06:06:13+0000\",\"will_reboot\":false,\"pending_count\":0,\"next_remediation\":null}],\"reboot_deferral_count\":0,\"reboot_is_delayed_by_notification\":false,\"reboot_is_delayed_by_user\":false,\"reboot_notification_count\":0,\"refresh_interval\":1440,\"serial_number\":\"6414KD2\",\"server_group_id\":130910,\"server_policies\":[],\"status\":{\"device_status\":\"not-ready\",\"agent_status\":\"disconnected\",\"policy_status\":\"compliant\",\"policy_statuses\":[{\"id\":211124,\"compliant\":true},{\"id\":211125,\"compliant\":true}]},\"tags\":[],\"timezone\":\"UTC+0800\",\"total_count\":2,\"uptime\":\"49\",\"uuid\":\"b7f14c91-31c8-415b-9639-43de765fbe7e\"},{\"id\":1663883,\"agent_version\":\"1.0-38\",\"commands\":[],\"compatibility_checks\":{\"missing_wmi_integrity_check\":false,\"missing_powershell\":false,\"low_diskspace\":false},\"compliant\":true,\"connected\":false,\"create_time\":\"2022-04-24T08:46:03+0000\",\"custom_name\":\"\",\"deleted\":false,\"detail\":{\"WMI_INTEGRITY_CHECK\":\"True\",\"AUTO_UPDATE_OPTIONS\":{\"OPTIONS\":\"off\",\"ENABLED\":\"1\"},\"MODEL\":\"B550I AORUS PRO AX\",\"VENDOR\":\"G[...]
