{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "98d7d5c0af03d69ec6a49ddb2c631c23",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://console.automox.com/api/servers/?limit=1&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3882,
            "text": "[{\"id\":1676461,\"agent_version\":\"1.0-38\",\"commands\":[],\"compatibility_checks\":{\"missing_powershell\":false,\"low_diskspace\":false,\"missing_wmi_integrity_check\":false},\"compliant\":true,\"connected\":false,\"create_time\":\"2022-04-29T05:57:43+0000\",\"custom_name\":\"\",\"deleted\":false,\"detail\":{\"VOLUME\":[{\"VOLUME\":\"C:\",\"FSTYPE\":\"NTFS\",\"LABEL\":\"OS\",\"AVAIL\":\"498416451584\",\"FREE\":\"42194432000\",\"IS_SYSTEM_DISK\":\"True\"},{\"AVAIL\":\"357803487232\",\"FREE\":\"105796612096\",\"IS_SYSTEM_DISK\":\"False\",\"VOLUME\":\"D:\",\"FSTYPE\":\"NTFS\",\"LABEL\":\"HDD\"}],\"MODEL\":\"Inspiron 7559\",\"DISTINGUISHED_NAME\":\"\",\"SECURE_TOKEN_ACCOUNT\":null,\"IPS\":[\"192.168.254.128\",\"fe80::a0b8:8c93:be50:136\"],\"CPU\":\"Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz\",\"PS_VERSION\":\"5.1.19041.1320\",\"NICS\":[{\"CONNECTED\":false,\"VENDOR\":\"TAP-ProtonVPN Windows Adapter V9\",\"DEVICE\":\"Local Area Connection 2\",\"TYPE\":\"enet\",\"MAC\":\"00:FF:AA:4A:B1:32\",\"IPS\":[]},{\"TYPE\":\"enet\",\"MAC\":\"F4:8E:38:E9:24:D5\",\"IPS\":[],\"CONNECTED\":false,\"VENDOR\":\"Realtek PCIe GBE Family Controller\",\"DEVICE\":\"Ethernet\"},{\"MAC\":\"B8:81:98:67:88:79\",\"IPS\":[\"192.168.254.128\",\"fe80::a0b8:8c93:be50:136\"],\"CONNECTED\":true,\"VENDOR\":\"Intel(R) Dual Band Wireless-AC 3165\",\"DEVICE\":\"Wi-Fi\",\"TYPE\":\"enet\"},{\"MAC\":\"B8:81:98:67:88:7A\",\"IPS\":[],\"CONNECTED\":false,\"VENDOR\":\"Microsoft Wi-Fi Direct Virtual Adapter\",\"DEVICE\":\"\",\"TYPE\":\"enet\"},{\"IPS\":[],\"CONNECTED\":false,\"VENDOR\":\"Bluetooth Device (Personal Area Network)\",\"DEVICE\":\"Bluetooth Network Connection 2\",\"TYPE\":\"enet\",\"MAC\":\"B8:81:98:67:88:7D\"},{\"DEVICE\":\"\",\"TYPE\":\"enet\",\"MAC\":\"BA:81:98:67:88:79\",\"IPS\":[],\"CONNECTED\":false,\"VENDOR\":\"Microsoft Wi-Fi Direct Virtual Adapter\"},{\"TYPE\":\"enet\",\"MAC\":\"78:53:20:52:41:53\",\"IPS\":[],\"CONNECTED\":false,\"VENDOR\":\"WAN Miniport (IP)\",\"DEVICE\":\"\"},{\"VENDOR\":\"WAN Miniport (IPv6)\",\"DEVICE\":\"\",\"TYPE\":\"enet\",\"MAC\":\"7E:2D:20:52:41:53\",\"IPS\":[],\"CONNECTED\":false},{\"TYPE\":\"enet\",\"MAC\":\"86:20:20:52:41:53\",\"IPS\":[],\"CONNECTED\":false,\"VENDOR\":\"WAN Miniport (Network Monitor)\",\"DEVICE\":\"\"}],\"DISKS\":[{\"TYPE\":\"ST1000LM014-1EJ164\",\"SIZE\":\"1000202273280\"},{\"TYPE\":\"Samsung SSD 850 EVO M.2 500GB\",\"SIZE\":\"500105249280\"}],\"LAST_USER_LOGON\":{\"TIME\":\"4\\/29\\/2022 2:04:06 PM\",\"SRC\":\"DESKTOP-VQE5236\",\"USER\":\"DESKTOP-VQE5236\\\\korsi\"},\"SERIAL\":\"6414KD2\",\"SERVICETAG\":\"\",\"VERSION\":\"0H0CC0\",\"WMI_INTEGRITY_CHECK\":\"True\",\"VENDOR\":\"Dell Inc.\",\"FQDNS\":[\"DESKTOP-VQE5236.WORKGROUP\"],\"RAM\":\"8589934592\",\"AUTO_UPDATE_OPTIONS\":{\"OPTIONS\":\"off\",\"ENABLED\":\"1\"},\"WSUS_CONFIG\":{\"WSUS_REACHABLE\":\"1\",\"WSUS_MANAGED\":\"0\",\"WSUS_SERVER\":\"\"},\"UPDATE_SOURCE_CHECK\":{\"CONNECTED\":\"True\",\"ERROR\":\"Succeeded\"}},\"display_name\":\"DESKTOP-VQE5236\",\"exception\":false,\"instance_id\":\"\",\"ip_addrs\":[\"180.191.56.172\"],\"ip_addrs_private\":[\"192.168.254.128\",\"fe80::a0b8:8c93:be50:136\"],\"is_compatible\":true,\"is_delayed_by_notification\":false,\"is_delayed_by_user\":false,\"last_disconnect_time\":\"2022-04-29T14:04:24+0000\",\"last_logged_in_user\":\"DESKTOP-VQE5236\\\\korsi\",\"last_process_time\":\"2022-04-29T14:03:58+0000\",\"last_refresh_time\":\"2022-04-29T06:06:13+0000\",\"last_scan_failed\":false,\"last_update_time\":null,\"name\":\"DESKTOP-VQE5236\",\"needs_attention\":false,\"needs_reboot\":false,\"next_patch_time\":null,\"notification_count\":0,\"organization_id\":102270,\"organizational_unit\":\"\",\"os_family\":\"Windows\",\"os_name\":\"10 Home Single Language\",\"os_version\":\"10.0.19043\",\"os_version_id\":4737,\"patch_deferral_count\":0,\"patches\":21,\"pending\":false,\"pending_patches\":0,\"policy_status\":[{\"id\":310411522,\"organization_id\":102270,\"policy_id\":211124,\"server_id\":1676461,\"policy_name\":\"Apply All Patches\",\"policy_type_name\":\"patch\",\"status\":1,\"result\":\"{}\",\"create_time\":\"2022-04-29T06:06:13+0000\",\"will_reboot\":false,\"pending_count\":0,\"next_remediation\":null},{\"id\":310411523,\"organization_id\":102270,\"policy_id\":211125,\"server_id\":1676461,\"policy_name\":\"Apply Critical Patches\",\"policy_type_name\":\"patch\",\"status\":1,\"result\":\"{}\",\"create_time\":\"2022-04-29T06:06:13+0000\",\"will_reboot\":false,\"pending_count\":0,\"next_remediation\":null}],\"reboot_deferral_count\":0,\"reboot_is_delayed_by_notification\":false,\"reboot_is_delayed_by_user\":false,\"reboot_notification_count\":0,\"refresh_interval\":1440,\"serial_number\":\"6414KD2\",\"server_group_id\":130910,\"server_policies\":[],\"status\":{\"device_status\":\"not-ready\",\"agent_status\":\"disconnected\",\"policy_status\":\"compliant\",\"policy_statuses\":[{\"id\":211124,\"compliant\":true},{\"id\":211125,\"compliant\":true}]},\"tags\":[\"Recently Added\"],\"timezone\":\"UTC+0800\",\"total_count\":2,\"uptime\":\"49\",\"uuid\":\"b7f14c91-31c8-415b-9639-43de765fbe7e\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1651424620"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 738,
      },
      {
        "_id": "cbdc2c620a398c653dbaa85fb53d1429",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "page",
              "value": "1"
            }
    [...]
